/*
  Monokai Dark for IDA
  Ported from Sublime Text’s Monokai Dark and IDA's Dark Theme
*/

@importtheme "_base";

@def default_bg_color #0F0F0F;
@def default_bg_color_darker #1A1A1A;
@def default_bg_color_default #2A2A2A;
@def default_text_color #F8F8F2;
@def default_border_color #222218;
@def default_border_radius 2px;

@def blue_border_color_hover #0aa;
@def blue_border_color_focus #0aa;
@def blue_border_color_lighter #0ee;
@def blue_border_color_darker #077;

@def dark_disabled_text_color #5F5E54;
@def dock_title_bg_color #3E3D32;
@def menu_border_color #222218;
@def menu_selected_item_bg_color #49483E;

/* -------------------------------------------------------------------------
   DOCK AND DOCK TITLE
   ------------------------------------------------------------------------- */
DockWidgetTitle,
DockAreaDragTitle {
  border: none;
}

DockWidgetTitle[active="true"] {
  background-color: ${dock_title_bg_color};
}

DockAreaDragTitle {
  background-color: ${dock_title_bg_color};
}

/* Close, maximize, undock button for dock widgets */
DockWidget > QWidget > QAbstractButton {
  background-color: ${default_bg_color_darker};
  border-radius: 3px;
}

/* -------------------------------------------------------------------------
   CHOOSERS AND LOG WIDGET
   ------------------------------------------------------------------------- */
chooser_widget_t,
standalone_dirtree_widget_t {
  qproperty-highlight-bg-default: red;
  qproperty-highlight-bg-selected: pink;
  qproperty-cut-text-color-default : darkgrey;
  qproperty-cut-text-color-selected : grey;
}

log_widget_t {
  color: ${default_text_color};
  background-color: ${default_bg_color};
}

/* -------------------------------------------------------------------------
   IDA TEXT AREA (e.g. Script snippets)
   ------------------------------------------------------------------------- */
text_area_t {
  qproperty-keyword1-fg: #F92672;
  qproperty-keyword2-fg: #66D9EF;
  qproperty-keyword3-fg: #AE81FF;
  qproperty-string-fg:   #E6DB74;
  qproperty-comment-fg:  #75715E;
  qproperty-preprocessor-fg: #F92672;
  qproperty-user1-fg:    #A6E22E;
}

text_area_t QWidget {
  background-color: transparent;
}

text_area_t text_area_margin_widget_t {
  color: lightgrey;
  qproperty-header-color: gainsboro;
}

/* -------------------------------------------------------------------------
   GLOBAL WIDGETS
   ------------------------------------------------------------------------- */
QWidget {
  background-color: ${default_bg_color};
  color: ${default_text_color};
}

QTextEdit,
QPlainTextEdit {
  background-color: ${default_bg_color_darker};
  border: 1px solid ${default_bg_color};
  border-radius: ${default_border_radius};
}

QMenu {
  border: 1px solid ${menu_border_color};
}

QMenuBar,
QMenuBar::item {
  background-color: #444;
  color: ${default_text_color};
}

QMenu::item:selected {
  background-color: ${menu_selected_item_bg_color};
}

QMenu::item:disabled {
  color: ${dark_disabled_text_color};
}

QLineEdit {
  border: 1px solid ${default_border_color};
  min-height: 20px;
  border-radius: ${default_border_radius};
}

QLineEdit:hover {
  border: ${blue_border_color_hover};
}

QLineEdit:focus {
  border: ${blue_border_color_focus};
}

QTabBar::tab {
  background-color: qlineargradient(
    x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 ${dock_title_bg_color}, stop: 1 #444
  );
}

QTabBar::tab:selected {
  background-color: #777;
}

QTableView {
  border: 1px solid ${default_border_color};
  background-color: ${default_bg_color_darker};
}

QHeaderView::section {
  background-color: #444;
  border: none;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  padding: 3px;
}

QHeaderView:horizontal::section {
  min-height: 20px;
}

QHeaderView:vertical::section {
}

QTableCornerButton::section {
  background: ${default_bg_color_darker};
  border: 2px outset ${default_bg_color_darker};
}

QScrollBar {
  background-color: ${default_bg_color};
  width: 20px;
  height: 20px;
  margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
  width: 0;
  height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
  background: none;
}

QScrollBar::handle:vertical {
  min-height: 20px;
}

QScrollBar::handle:horizontal {
  min-width: 20px;
}

QScrollBar::handle {
  background-color: #585858;
  margin: 3px;
  border-radius: 7px;
}

QToolBar {
  border: none;
}

/* -------------------------------------------------------------------------
   PUSH BUTTONS
   ------------------------------------------------------------------------- */
QPushButton {
  border: 1px solid ${blue_border_color_darker};
  text-align: center;
  min-height: 20px;
  min-width: 50px;
  padding: 0 6px 0 6px;
  border-radius: ${default_border_radius};
}

QPushButton:disabled {
  color: ${dark_disabled_text_color};
}

quick_filter_widget_t > QPushButton {
  min-width: 20px;
}

QPushButton:hover,
QPushButton:default {
  border: 1px solid ${blue_border_color_hover};
}

QPushButton:default {
  background-color: ${default_bg_color_default};
}

QPushButton:pressed {
  border: 1px solid ${blue_border_color_lighter};
}

/* -------------------------------------------------------------------------
   COMBO BOX
   ------------------------------------------------------------------------- */
QComboBox {
  border: 1px solid ${default_border_color};
  border-radius: ${default_border_radius};
  color: ${default_text_color};
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
  border: none;
  min-height: default;
}

QComboBox:hover {
  border: 1px solid ${blue_border_color_hover};
}

QComboBox:focus {
  border: 1px solid ${blue_border_color_focus};
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 15px;
  border-left-width: 1px;
  border-left-color: #666;
  border-left-style: solid;
}

QComboBox QAbstractItemView {
  border: 1px solid ${menu_border_color};
}

QComboBox:!editable {
  background-color: #424242;
}

QComboBox:disabled {
  color: ${dark_disabled_text_color};
}

QComboBox::down-arrow {
  image: url("$RELPATH/icons/expand.png");
}

QComboBox::down-arrow:disabled {
  image: url("$RELPATH/icons/expand-disabled.png");
}

/* -------------------------------------------------------------------------
   LABELS AND STATUS BAR
   ------------------------------------------------------------------------- */
QLabel {
  background: transparent;
}

QStatusBar QLabel {
  border: none;
}

QStatusBar::item {
  border: 1px solid #585858;
  border-radius: ${default_border_radius};
}

/* -------------------------------------------------------------------------
   GROUP BOXES, LISTS, TREES
   ------------------------------------------------------------------------- */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
  border: 1px solid #606060;
  border-radius: ${default_border_radius};
}

QGroupBox {
  margin-top: 5px;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top center;
}

/* Selection color in trees, lists, etc. */
@ifndef __MAC__
QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected,
QTreeView::branch:selected {
  background-color: #49483E;
  color: #F8F8F2;
}
@endif

/* -------------------------------------------------------------------------
   TOOL TIPS
   ------------------------------------------------------------------------- */
QToolTip,
QTipLabel {
  border: 1px solid ${blue_border_color_darker};
  border-radius: ${default_border_radius};
  background: #111;
  color: ${default_text_color};
  margin: 0;
  padding: 0;
}

/* Invalid fields highlighting */
QWidget[field_validity=false] {
  border-color: red;
  border-width : 1.2px;
  border-style: inset;
}

/* -------------------------------------------------------------------------
   MISC
   ------------------------------------------------------------------------- */
@def dark_highlight_color rgba(96, 0, 96, 0.80);

TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
  min-height: 0;
  min-width: 0;
  padding: 0;
  border: none;
}

/* Remove border from IDC/Python switch button */
CLIWidget > QGroupBox > QPushButton,
CLIWidget > QGroupBox > QPushButton:hover,
CLIWidget > QGroupBox > QPushButton:focus {
  border: none;
}

CLIWidget > QGroupBox {
  margin-top: 0;
}

/* -------------------------------------------------------------------------
   DISASSEMBLY VIEW CUSTOMIZATION
   ------------------------------------------------------------------------- */
CustomIDAMemo {
  border: none;


  qproperty-line-fg-default:            #F8F8F2;
  qproperty-line-fg-regular-comment:    #75715E;
  qproperty-line-fg-repeatable-comment: #75715E;
  qproperty-line-fg-automatic-comment:  #75715E;
  qproperty-line-fg-insn:              #F8F8F2;
  qproperty-line-fg-dummy-data-name:    #A6E22E;
  qproperty-line-fg-regular-data-name:  #A6E22E;
  qproperty-line-fg-demangled-name:     #A6E22E;
  qproperty-line-fg-punctuation:        #C0C0C0;
  qproperty-line-fg-charlit-in-insn:    #E6DB74;
  qproperty-line-fg-strlit-in-insn:     #E6DB74;
  qproperty-line-fg-numlit-in-insn:     #AE81FF;
  qproperty-line-fg-void-opnd:          #F92672;
  qproperty-line-fg-code-xref:          #66D9EF;
  qproperty-line-fg-data-xref:          #66D9EF;
  qproperty-line-fg-code-xref-to-tail:  #FD971F;
  qproperty-line-fg-data-xref-to-tail:  #FD971F;
  qproperty-line-fg-error:              #F92672;
  qproperty-line-fg-line-prefix:        #C0C0C0;
  qproperty-line-fg-opcode-byte:        #595959;
  qproperty-line-fg-extra-line:         #75715E;
  qproperty-line-fg-alt-opnd:           #FD971F;
  qproperty-line-fg-hidden:             #FD971F;
  qproperty-line-fg-libfunc:            #66D9EF;
  qproperty-line-fg-locvar:             #FD971F;
  qproperty-line-fg-dummy-code-name:    #A6E22E;
  qproperty-line-fg-asm-directive:      #F92672;
  qproperty-line-fg-macro:              #66D9EF;
  qproperty-line-fg-strlit-in-data:     #E6DB74;
  qproperty-line-fg-charlit-in-data:    #E6DB74;
  qproperty-line-fg-numlit-in-data:     #AE81FF;
  qproperty-line-fg-keyword:            #F92672;
  qproperty-line-fg-register-name:      #FD971F;
  qproperty-line-fg-import-name:        #66D9EF;
  qproperty-line-fg-segment-name:       #AE81FF;
  qproperty-line-fg-dummy-unknown-name: #F8F8F2;
  qproperty-line-fg-code-name:          #A6E22E;
  qproperty-line-fg-unknown-name:       #A6E22E;
  qproperty-line-fg-collapsed-line:     #E6DB74;
  qproperty-line-bg-default:            #0F0F0F;
  qproperty-line-bg-selected:           #49483E;
  qproperty-caret:                      #F8F8F0;
  qproperty-line-pfx-libfunc:           #66D9EF;
  qproperty-line-pfx-func:              #666666;
  qproperty-line-pfx-insn:              #aa0000;
  qproperty-line-pfx-data:              #7c7c61;
  qproperty-line-pfx-unexplored:        #9d9d00;
  qproperty-line-pfx-extern:            #ff55ff;
  qproperty-line-pfx-current-line:      #ffaa00;
  qproperty-line-pfx-current-item:      #ff8800;
  qproperty-line-pfx-lumina:            #32cd32;
  qproperty-graph-bg-top:               #1F1F1F;
  qproperty-graph-bg-bottom:            #1F1F1F;
  qproperty-graph-node-title-normal:    #f5f5f5;
  qproperty-graph-node-title-selected:  #aa9f98;
  qproperty-graph-node-title-current:   #5e5854;
  qproperty-graph-node-frame-group:     #66d9ef;
  qproperty-graph-node-shadow:          #242424;
  qproperty-graph-node-high1:           #003900;
  qproperty-graph-node-high2:           #6d0000;
  qproperty-graph-node-foreign:         #ff0000;
  qproperty-graph-edge-normal:          #0043cb;
  qproperty-graph-edge-yes:             #009100;
  qproperty-graph-edge-no:              #bc0000;
  qproperty-graph-edge-high:            #aaaaff;
  qproperty-graph-edge-selected:        #c68e00;
  qproperty-graph-node-frame-selected:  #c68e00;
  qproperty-line-fg-patched-bytes:      #804040;
  qproperty-line-fg-unsaved-changes:    #ff8000;
  qproperty-line-bg-highlight:          rgba(96, 0, 96, 0.80);
  qproperty-line-bg-bpt-enabled:        #760000;
  qproperty-line-bg-bpt-disabled:       #00ff00;
  qproperty-line-bg-bpt-unavailable:    #ff8000;
  qproperty-bookmark-star-outline:      #ffffff;
}

CustomIDAMemo[debugging="true"] {
  qproperty-line-bg-default: #4D4D4D;
}

CustomIDAMemo[hints="true"] {
  qproperty-line-bg-default: #424242;
}

TCpuRegs {
  background-color: #4D4D4D;
  qproperty-register-defined: white;
  qproperty-register-changed: #FFFF7F;
  qproperty-register-edited:  #FF7F17;
  qproperty-register-unavailable: #808080;
}

TCpuRegs ui_label_t {
  color: #AAAAAA;
}

TextArrows {
  qproperty-jump-in-function: #6c4634;
  qproperty-jump-external-to-function: #00dede;
  qproperty-jump-under-cursor: #ffaa00;
  qproperty-jump-target: #008000;
  qproperty-register-target: #ff8080;
}

navband_t {
  qproperty-lib-function:      #66D9EF;
  qproperty-function:          #3f3f3f;
  qproperty-code:              #F92672;
  qproperty-data:              #E6DB74;
  qproperty-undefined:         #75715E;
  qproperty-extern:            #AE81FF;
  qproperty-lumina-function:   #66D9EF;

  qproperty-hl-lib-function:   #99E1F3;
  qproperty-hl-function:       #2b2b2b;
  qproperty-hl-code:           #FF6292;
  qproperty-hl-data:           #FFF7A7;
  qproperty-hl-undefined:      #9E9A85;
  qproperty-hl-extern:         #CB9EFF;
  qproperty-hl-lumina-function: #99E1F3;

  qproperty-hl-outline:        #66D9EF;

  qproperty-error:             #F92672;
  qproperty-gap:               #4a4a4a;
  qproperty-cursor:            #A6E22E;
  qproperty-auto-analysis-cursor: #FD971F;
}
